<!DOCTYPE html>
{% load static %} 

<html>
	<head>
		<title>Enzo Ghemard - Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="{% static 'portfolio/css/reset.css' %}" rel="stylesheet">
		<link href="{% static 'portfolio/css/transition.css' %}" rel="stylesheet">
		<!--<link href="{% static 'portfolio/css/style.css' %}" rel="stylesheet">-->
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'portfolio/img/ico/ico.png' %}">
		
		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'portfolio/img/ico/apple-touch-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'portfolio/img/ico/apple-touch-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'portfolio/img/ico/apple-touch-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'portfolio/img/ico/apple-touch-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'portfolio/img/ico/apple-touch-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'portfolio/img/ico/apple-touch-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'portfolio/img/ico/apple-touch-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'portfolio/img/ico/apple-touch-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'portfolio/img/ico/apple-touch-icon-180x180.png' %}">
		<link rel="icon" type="image/png" href="{% static 'portfolio/img/ico/favicon-32x32.png' %}" sizes="32x32">
		<link rel="icon" type="image/png" href="{% static 'portfolio/img/ico/android-chrome-192x192.png' %}" sizes="192x192">
		<link rel="icon" type="image/png" href="{% static 'portfolio/img/ico/favicon-96x96.png' %}" sizes="96x96">
		<link rel="icon" type="image/png" href="{% static 'portfolio/img/ico/favicon-16x16.png' %}" sizes="16x16">
		<link rel="manifest" href="{% static 'portfolio/img/ico/manifest.json' %}">
		<link rel="shortcut icon" href="{% static 'portfolio/img/ico/favicon.ico' %}">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="msapplication-TileImage" content="{% static 'portfolio/img/ico/mstile-144x144.png' %}">
		<meta name="msapplication-config" content="{% static 'portfolio/img/ico/browserconfig.xml' %}">
		<meta name="theme-color" content="#ffffff">
		
		<!--LESS Developpement -->
		<link rel="stylesheet/less" type="text/css" href="{% static 'portfolio/css/style.less' %}" />	
		<script type="text/javascript" src="{% static 'portfolio/js/less.js' %}"></script>
		<!--<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}" />-->
		
		
		<!--JQuery CDN-->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
		<!--<script type="text/javascript" src="{% static 'portfolio/js/jquery-ui.min.js' %}"></script>	-->
		
		<!--Scrollbar-->
		<!--<link rel="stylesheet/less" type="text/css" href="{% static 'portfolio/tinyscroll/tinyscrollbar.css' %}" />	
		<script type="text/javascript" src="{% static 'portfolio/tinyscroll/jquery.tinyscrollbar.js' %}"></script>-->
					
		{% block view_block %}{% endblock %}
		

		<!--<script type="text/javascript" src="{% static 'portfolio/js/script.js' %}"></script>-->
	</body>
</html>

