{% extends 'portfolio/base.html' %}
{% load i18n %} 

{% block body_block %}
<div id="index">
	<section id="main">
		<header>
			<h1>Enzo Ghemard</h1>
			<nav class="menu">
				<a id="gotowork" href="work">work</a>
				<a href="#aboutme">about me</a>
				<a href="#contact">contact</a>
			</nav>
		</header>
		<p class="welcome-msg">
			{% blocktrans %}
			<span class="big"><span class="w">Welcome</span> to my <span class="w">portfolio</span><br/></span>
			I'm a <span class="w">developper</span> who loves to work on new ideas
			{% endblocktrans %}	
		</p>
		<nav class="language">
		
			<a href="/lang/en/">en</a>
			<a href="/lang/fr/">fr</a>
			<a href="/lang/zh/">中文</a>
		
		</nav>
	</section>
	<section id="aboutme">
		<article class="about">
		
			about me
		
		</article>
	</section>

	<section id="contact">

	</section>
</div>


<div id="work">
	<section id="mywork">
		<header>
			<h1>Enzo Ghemard <span>{% trans "work" %}</span></h1>
			<nav class="menu">
				<a href="index#aboutme">about me</a>
				<a href="index#contact">contact</a>
			</nav>
		</header>
		{% include "portfolio/worklist.html" %}
	</section>
</div>


{% endblock %}
{{ wtitle }}
