{% load i18n %} 
{% load static %}

<section id="contact">	
	<h1>{% trans "Contact" %}</h1>	
	<div class="contact-form">
		
		<form method="post" action="index#contact">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="form-actions">
			  <button type="submit">{% trans "Send" %}</button>
			</div>
		</form>
	</div>
	<footer>
		<div class="social-links">
			<p>
			<a target="_blank" href="{% url 'wechat' %}"><img src="{% static 'portfolio/img/wechat.png' %}" alt="Wechat" title="Wechat"/></a>
			<a target="_blank" href="https://google.com/+EnzoGhemard"><img src="{% static 'portfolio/img/googleplus.png' %}" alt="Google" title="Google"/></a>	
			</p>	
			<p class="email">
				You can also send me a mail directly at : <span class="mail">enzo {dot} ghemard {at} free {dot} fr</span>
			</p>
		</div>

		<div id="copyright">
			Website powered by Django, JQuery, Less. Hosted on Heroku. 2015 Copyright Enzo Ghémard
		</div>
	</footer>
</section>
