{% load i18n %} 
{% load static %}

<section id="about">
	<article class="about">
		
		<div class="content">
		{{ aboutme.content | safe }}
		</div>
		<div class="world-map"></div>
	</article>
	
	{% if tags %}
	<article>
		<h1>{% trans "My skills" %}</h1>
		
		{% for skill in tags %}
			<div class="skill" value="{{ skill.level }}">
				<h2>{{skill.name}}</h2><div class="skill-bar" ><div class="bar"></div></div>
			</div>
		{% endfor %}
		
	</article>
	{% endif %}
	
	<article>
		<h1>{% trans "My hobbies" %}</h1>
		<div class="hobbies">
			<object id="ħobbies-svg" type="image/svg+xml" data="{% static 'portfolio/img/hobbies.svg' %}"><img src="{% static 'portfolio/img/hobbies.png' %}"/>Your browser does not support SVG</object>
		
			<ul id="hobbies-legend" style="display:none">
				<li tar="skate">{% trans "Cruising around" %}</li>
				<li tar="camera">{% trans "Photography" %}</li>
				<li tar="computer">{% trans "Video games" %}</li>
				<li tar="travel">{% trans "Travel & Languages" %}</li>
				<li tar="pads">{% trans "Playing pads sports" %}</li>
				<li tar="drawing">{% trans "Drawing rabbits" %}</li>		
			</ul>
		
		</div>
	</article>
</section>
