{% load i18n %} 
{% load static %}

<section id="contact">	
	<!--
	<h1>{% trans "Contact" %}</h1>	
	<div class="contact-form">
		{% if sent_mail %}
		<div class="mail-dialog">
			<p class="mail-success">{% trans "Your message has been sent, I'll receive it in a moment." %}</p>
			<div class="show-mail-button"><div>{% trans "resend a mail" %}</div></div>
		</div>
		<form class="rolledup" method="post" action="index#contact">	
		{% else %}
		<form method="post" action="index#contact">
		{% endif %}
			{% csrf_token %}
			{{ form.as_p }}
			<div class="form-actions">
			  <button type="submit">{% trans "Send" %}</button>
			</div>
		</form>
	</div>
	-->
	<footer>
		<div class="social-links">
			<p>
			<a target="_blank" href="{% url 'wechat' %}"><img src="{% static 'portfolio/img/wechat.png' %}" alt="Wechat" title="Wechat"/></a>
			<a target="_blank" href="https://google.com/+EnzoGhemard"><img src="{% static 'portfolio/img/googleplus.png' %}" alt="Google" title="Google"/></a>	
			<a target="_blank" href="http://enzuo-dev.tumblr.com/"><img src="{% static 'portfolio/img/tumblr.png' %}" alt="Tumblr" title="Tumblr"/></a>	
			<a target="_blank" href="https://twitter.com/potczone"><img src="{% static 'portfolio/img/twitter.png' %}" alt="Twitter" title="Twitter"/></a>	
			<a target="_blank" href="https://www.pinterest.com/eghemard/"><img src="{% static 'portfolio/img/pinterest.png' %}" alt="Pinterest" title="Pinterest"/></a>	
			</p>	
			<p class="email">
				You can also send me a mail directly at : <span class="mail">enzo {dot} ghemard {at} free {dot} fr</span>
			</p>
		</div>

		<div id="copyright">
			Website powered by Django, JQuery, Less. Hosted on Heroku. Images hosted on Cloudinary. 2015 Copyright Enzo Ghémard
		</div>
	</footer>
</section>
