{% load i18n %} 

<section id="mywork">
	<header>
		<h1><a href="{% url 'index' %}">Enzo Ghemard </a><span>{% trans "work" %}</span></h1>
		<nav class="menu">
			<a href="{% url 'index' %}#about">{% trans "about me" %}</a>
			<a href="{% url 'index' %}#contact">{% trans "contact" %}</a>
		</nav>
	</header>
	<a class="mobile-link" href="{% url 'index' %}">go back</a>

	{% if tags %}
	<div id="tags-filters">
		<ul>
		{% for t in tags %}
			<li data="{{t.id}}" {%if t.active %}class="active"{% endif %}>{{t.name}}</li>
		{% endfor %}
		</ul>
	</div>	
	{% endif %}
	
	<div id="work-viewer" style="display:none">
		<div class="background"></div>
		<div class="content-viewer">
			<div class="content">
			</div>
		</div>
	</div>
	
	
	{% include "portfolio/worklist.html" %}
	
	
</section>
