{% load i18n %} 

<section id="main">
	<header>
		<h1>Enzo Ghemard</h1>
		<nav class="menu">
			<a href="work">work</a>
			<a href="#about">about me</a>
			<a href="#contact">contact</a>
		</nav>
	</header>
	<p class="welcome-msg">
		{% blocktrans %}
		<span class="big"><span class="w">Welcome</span> to my <span class="w">portfolio</span><br/></span>
		I'm a <span class="w">developper</span> who loves to work on new ideas
		{% endblocktrans %}	
	</p>
	<nav class="language">
	
		<a href="/lang/en/">en</a>
		<a href="/lang/fr/">fr</a>
		<a href="/lang/zh/">中文</a>
	
	</nav>
</section>
