{% load i18n %} 
{% load static %}

<section id="contact">	
	<h1>Contact</h1>	
	<div class="contact-form">
		
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="form-actions">
			  <button type="submit">Send</button>
			</div>
		</form>
	</div>
	<footer>
		<div class="social-links">
			<p>{% trans "Add me on : " %}
			<a href=""><img src="{% static 'portfolio/img/wechat.png' %}" alt="Wechat" title="Wechat"/></a>
			<a href=""><img src="{% static 'portfolio/img/googleplus.png' %}" alt="Google" title="Google"/></a>	
			</p>	
			<p class="email">
				Or send me a mail directly at : <span class="mail">enzo.ghemard -at- free.fr</span>
			</p>
		</div>

		<div id="copyright">
			Website powered by Django, JQuery, Less. Hosted on Heroku. 2015 Copyright Enzo Ghémard
		</div>
	</footer>
</section>
