{% load i18n %} 

<section id="mywork">
	<header>
		<h1><a href="index">Enzo Ghemard </a><span>{% trans "work" %}</span></h1>
		<nav class="menu">
			<a href="index#about">{% trans "about me" %}</a>
			<a href="index#contact">{% trans "contact" %}</a>
		</nav>
	</header>
	<div id="work-viewer">
		<div class="background"></div>
		<div class="content-viewer">
			<div class="content">
				test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			vtest test<br/>test test<br/>test test<br/>
			v
			test test<br/>
			test test<br/>
			test test<br/>
			vtest test<br/>
			vtest test<br/>test test<br/>test test<br/>test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			test test<br/>
			
			</div>
		</div>
	</div>
	{% include "portfolio/worklist.html" %}
</section>
