{% load cloudinary %}

{% if works %}	
	<div id="work-list">
		{% for w in works %}
		<div class="work-wrapper" >
			<div class="work" id="work-{{ w.id }}" style="opacity:0;">
				<section class="thumbnail">
					
					{# cloudinary w.image.name width=520 height=520 crop="fill" #}
					<img src="http://res.cloudinary.com/{{ cloud_name }}/image/upload/c_fill,h_220,w_220/v1/{{ w.image }}" data-original="http://res.cloudinary.com/{{ cloud_name }}/image/upload/c_fill,h_520,w_520/v1/{{ w.image }}" />
				</section>
				
				<section class="details" style="display:none">
					<h1>{{ w.title }}</h1>
					{% if w.techs.all %}
					<div class="work-techs">
						{% for t in w.techs.all %}
						<div class="tech" name="{{t.name}}">
							{{ t.icon_32 }}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</section>
				
				<section class="work-full">
					<div class="work-content">
						<h1>{{ w.title }}</h1>						
						<div class="tags">
							<ul>
							{% for t in w.tags.all %}
							<li><div class="tag" name="{{t.name}}">
								<p>{{t.name}}</p>
							</div></li>
							{% endfor %}
							</ul>
						</div>
						<p class="date">{{ w.date }}</p>
						{{ w.content |safe}}						
						<div class="techs">
							{% for t in w.techs.all %}
							<div class="tech" name="{{t.name}}">
								{{ t.icon_32 }}
								<p>{{t.name}}</p>
							</div>
							{% endfor %}
						</div>
						

					</div>
				</section>
			</div>	
		</div>		
		{% endfor %}
		<div style="clear:both"></div>
	</div>	
{% endif %}
