{% if works %}	
	<div id="work-list">
		{% for w in works %}
		<div class="work-wrapper" >
			<div class="work" id="work-{{ w.id }}" style="opacity:0;">
				<section class="thumbnail">
					{% if w.thumb %}
						<img src="{{ MEDIA_URL }}{{ w.thumb }}" data-original="{{ MEDIA_URL }}{{ w.image }}"/>
					{% else %}
						<img src="{{ MEDIA_URL }}{{ w.image }}" />
					{% endif %}
				</section>
				
				<section class="details" style="display:none">
					<h1>{{ w.title }}</h1>
					{% if w.techs.all %}
					<div class="work-techs">
						{% for t in w.techs.all %}
						<div class="tech" name="{{t.name}}">
							{{ t.icon_32 }}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</section>
				
				<section class="work-full">
					<div class="work-content">
						<h1>{{ w.title }}</h1>
						<p class="date">{{ w.date }}</p>
						{{ w.content |safe}}						
						<div class="techs">
							{% for t in w.techs.all %}
							<div class="tech" name="{{t.name}}">
								{{ t.icon_32 }}
								<p>{{t.name}}</p>
							</div>
							{% endfor %}
						</div>
						
						<div class="tags">
							<ul>
							{% for t in w.tags.all %}
							<li><div class="tag" name="{{t.name}}">
								<p>{{t.name}}</p>
							</div></li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</section>
			</div>	
		</div>		
		{% endfor %}
		<div style="clear:both"></div>
	</div>	
{% endif %}
