{% if works %}	
	<div id="work-list">
		
		{% for w in works %}
		<div class="work-wrapper">
			<div class="work hided" id="work-{{ w.id }}" style="background-image:url({{ MEDIA_URL }}{{ w.image }})">
				{% if false %}
				<section class="thumbnail">
					<img src="{{ MEDIA_URL }}{{ w.image }}"/>
				</section>
				{% endif %}
				
				<section class="details">
					<h1>{{ w.title }}</h1>
					<div class="work-techs">
						{% for t in w.techs.all %}
							{{ t.icon_32 }}
						{% endfor %}
					</div>
				</section>
				
				<section class="work-full">
					<h1>{{ w.title }}</h1>
					{{ w.content |safe}}
				</section>
			</div>	
		</div>
		{% endfor %}	
		
	</div>

{% endif %}
